@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
      font-family: 'poppins';
}

body {
      max-height: 100vh;
}

.navbar a i {
      font-size: 1.5rem;
      color: white;
}

.carousel-item * {
      color: white;
}

.carousel-item img {
      width: 100%;
}

.card-image-top{
      width: 25%;
      border-radius: 50%;
}

.card-text {
      text-align: justify;
      font-size: 80%;
}

.card-text span {
      color: rgb(0, 255, 200);
}

.btn {
      font-weight: 650;
      font-size: 1.2rem;
}

.btn:hover {
      color: white;
}

@media (max-width:500px){
      .card-text {
            font-size: 60%;
      }

      .card-image-top {
            width: 90px;
            height: 90px;
      }

      .btn {
            font-size: .9rem;
      }
}

@media (max-width:700px){
      .cara-text {
            font-size: 70%;
      }
}

.galery-container {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      padding: 20px;
      background: rgb(0, 0, 0, 0.6);
      backdrop-filter: blur(5px);
      z-index: 999;
}

.galery-container * {
      font-family: 'poppins';
}

.galery-container .card {
      background: transparent;
}

.galery-container .btnBack {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      padding: 10px;
      font-weight: 800;
      font-size: 1.4rem;
      padding: 0;
      margin: 0;
}

.galery-container .btnBack i {
      display: flex;
      align-items: center;
      justify-content: center;
}

.galery-container .carousel-item {
      text-align: center;
}

.galery-container .carousel-item img {
      width: 100%;
      height: 350px;
}

.galery-container .carousel-item *{
      font-weight: 530;
      color: gray;
}

.galery-container .carousel-item p {
      font-size: 65%;
}

.carousel-item .carousel-caption {
      opacity: .2;
}

.carousel-item:hover .carousel-caption {
      background: linear-gradient(transparent 60%, rgba(238, 130, 238, 0.329));
      opacity: 1;
}

.carousel-item:hover h5, .carousel-item:hover p {
      color: white;
}

@media (max-width: 310px){
      .galery-container .carousel-item p {
            font-size: 50%;
      }
      .galery-container .carousel-item h5 {
            font-size: 1.2rem;
      }
}

.offcanvas-body a {
      font-size: 1.1rem;
}