@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.body {
      background: url(../../img/w.jpg);
      background-attachment: fixed;
      background-size: cover;
      background-position: right;
      font-family: poppins;
      font-weight: 800;
      text-align: center;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
}

.card {
      animation: box-animate 1s infinite linear alternate;
      background-color: rgba(255, 255, 255, 0.568);
      border: 1px solid white;
      transform: rotate(0deg);
      position: relative;
}

@keyframes box-animate {
      from {
            transform: rotate(-3deg);
      }

      to {
            transform: rotate(3deg);
      }
}

.box-toast {
      width: 100%;
      color: rgb(88, 88, 88);
      opacity: 1;
      position: fixed;
      top: -200px;
      right: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
}

.box-toast * {
      font-size: .6rem;
      font-weight: lighter;
}

.box-toast strong {
      font-weight: 700;
}

.box-toast small{
      font-size: .5rem;
}

.box-toast .toast-header img {
      width: 25px;
      height: 25px;
}

.box-toast .toast-body img {
      width: 40%;
}

.card-title {
      display: flex;
      justify-content: center;
      align-items: center;
}

.card-title * {
      font-weight: 800;
}

.card-title h2,
.card-title i {
      color: rgb(255, 51, 0);
      filter: drop-shadow(0 0 2px white);

}

.card-text i {
      box-shadow: 0 0 1px white;
      filter: drop-shadow(0 0 2px white);
}

.card-title i {
      font-size: 1.7rem;
      padding-bottom: 4px;
}

.btn {
      margin-top: 20px;
      font-size: 1.5rem;
      font-weight: 650;
}

.bxs-heart {
      color: red;
}

#box-card {
      display: block;
}

#box-card2 {
      display: none;
}

#box-card2 h5 {
      font-weight: 750;
      color: violet;
      font-size: 1rem;
}

#box-card2 .carousel-item p {
      font-size: .9rem;
}

#box-card2 .carousel-item {
      color: rgb(255, 255, 255);
      font-weight: 700;
}

#box-card2 .btn-outline-primary {
      font-size: .9rem;
      width: 50%;
      margin-top: 0;
}

/* #box-card2 .carousel-item img {
      text-align: center;
      width: 40%;
      height: auto;
} */


@media (min-width: 310px){
      /* #box-card2 .carousel-item img {
            width: 45%;
      } */

      #box-card2 .carousel-item p {
            font-size: .8rem;
      }

      #box-card2 .card-title {
            font-size: 1rem;
      }

      .btn {
            font-size: 1.2rem;
      }

      .card-title h2,
      .card-title i {
            font-size: 1.5rem;

      }
}
